<% if flash %>
  <ul>
    <% flash.each do |key, value| %>
      <li><%= value %></li>
    <% end %>
  </ul>
<% end %>

<div class="jumbotron user">
  <h1 class="text-white">利用開始登録</h1>
  <hr class="my-4">
</div>

<%= render partial: 'form' %>
